<div class="rte grid-item masonry-item">         
  <div class="blog-item">
    {% if article.excerpt.size > 0 %}
  <!--  excerpt   -->
    <div class="post">
      {% assign excerpt_start =  article.excerpt | split: '[end]' %}
        {% assign end_excerpt =  excerpt_start[0]  | split: '[start]'  %}
          {% if end_excerpt.size > 1  %} 
            {% assign article_excerpt   = end_excerpt[0]  | append:  excerpt_start[1]  %}
      <div class="post-thumbnail">
            {% include  'shortcode' load: end_excerpt[1] %}
      </div>
      <h3 class="blog-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
      <div class="entry-meta">
          <span class="post-date">{{ article.published_at | date: "%d %b %Y" }}</span>
          <span class="blog-comment"><i class="fa fa-comment"></i>
          {% if blog.comments_enabled? %}
            <span class="count-comment">{{article.comments_count}}</span>   
            {% endif %}                            
          </span>                                   
      </div>

      <div class="rte entry-summary blog-short-desc">
          <div class="entry-summary">
          {% include  'shortcode' load: article_excerpt %}  
        </div>
        {% else %}
        <div class="entry-header">
          <h1 class="blog-title"><i class="fa fa-music"></i><a href="{{ article.url }}">{{ article.title }}</a></h1>
        </div>
        <div class="entry-summary">
          {% include  'shortcode' load:  article.excerpt %}  
        </div>
        {% endif %}

      </div>
      <a class="readmore" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>

      {% else %}
      <!-- content  -->
      {% assign excerpt_start = article.content | truncatewords: 12 | split: '[end]' %}
        {% assign end_excerpt = excerpt_start[0] | split: '[start]'  %}
          {% if end_excerpt.size > 1 %}
            {% assign content_excerpt   =   end_excerpt[0]  | append:  end_excerpt[0]  %}
              {% include  'shortcode' load:   end_excerpt[1]  %}  
                <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                  {% include  'shortcode' load:  article_excerpt %}  
            {% else %}
              <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
              {% include  'shortcode' load:  article.content | truncatewords: 12 %}  
            {% endif %}
          {% endif %}

      {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
      {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}" >{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
      {% comment %}  <p>{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</p>{% endcomment %}


    </div>
      {% comment %}
      Show off meta information like number of comments and tags.
      {% endcomment %}

      {% comment %}<p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>{% endcomment %}

  {% unless forloop.last %}{% endunless %}
</div>
</div>