
 <!-- Filter price -->
<div class="widget widget_price_filter">
    <h2 class="widget-title">{{ 'cart.label.price' | t }}</h2>
    <form method="get" action="#">
        <div class="price_slider_wrapper">
            <div class="amount-range-price">{{ 'cart.label.price' | t }}: <span class="from">{{settings.collection_min_price | money }}</span> — <span class="to">{{settings.collection_max_price | money }}</span></div>
            <div id="slider-range" class="price_slider"></div>
            {% comment %}<button class="button">Filter Now</button>{% endcomment %}
        </div>
    </form>
</div>
<!-- ./Filter price -->
 <!-- By color -->
{% if settings.enable_use_filter_color %}
  <div class="widget widget_layered_nav">
    <h2 class="widget-title">{{ settings.filter_color_title | strip_html }}</h2>
      <ul class="product-categories">
          {% assign list_color = settings.filter_color_name | split: ',' %}
          {% assign list_color_name = settings.filter_color_name | split: '|' %}
          {% for color in list_color%}
            {% assign custom_tag = color | strip %}
            {% assign check = false %}
            {% for ct in current_tags %}
             {% assign ct_down  =   ct | strip  | downcase %}
              {% if ct_down == custom_tag %}
                {% assign check = true %}
                  {% break %}
              {% endif %}
            {% endfor %}
            {% if check %}
              <li class="advanced-filter-1 active active-filter" data-group="{{ settings.filter_color_title }}" data-handle="{{ size | handleize }}">
                <span class="status-filter checked"><span class="filter-checkbox"></span></span>
                {{ color | link_to_remove_tag: color }}
              </li>
            {% else %}
              <li class="advanced-filter-1" data-group="{{ settings.filter_color_title }}" data-handle="{{ size | handleize }}">
                <span class="status-filter no-check"><span class="filter-checkbox" ></span> </span>
                {{ color | link_to_add_tag: color }}
              </li>
            {% endif %}
          {% endfor %}
      </ul>    
  </div>
{% endif %}

 <!-- ./By color -->
<!-- Filter size-->
{% if settings.enable_use_filter_size %}
    <div class="widget widget_fillter_size">
        <h2 class="widget-title">{{ settings.filter_size_title | strip_html }}</h2>
        <div class="inner">
             {% assign list_size = settings.filter_size_name | split: ',' %}
                {% for size in list_size %}

                  {% assign custom_tag = size | strip | downcase %}
                  {% assign check = false %}

                  {% for ct in current_tags %}
                    {% assign ct_down  =   ct | strip  | downcase %}
                     
                    {% if ct_down   ==  custom_tag %}
                      {% assign check = true %}
                        {% break %}
                    {% endif %}
                  {% endfor %}
                  {% if check %}
                   
                    <div class="advanced-filter active active-filter" data-group="{{ settings.filter_size_title }}" data-handle="{{ size | handleize }}">
                       <span class="status-filter checked"><span class="filter-checkbox"></span></span>
                      {{ custom_tag | link_to_remove_tag: size }}
                     
                    </div>
                  {% else %}
                   
                    <div class="advanced-filter" data-group="{{ settings.filter_size_title }}" data-handle="{{ size | handleize }}">
                      <span class="status-filter no-check"><span class="filter-checkbox"></span></span>
                      
                      {{ custom_tag | link_to_add_tag: size }}
                    </div>
                  {% endif %}
                {% endfor %}
        </div>
    </div>
{% endif %}
<!-- ./Filter size-->
{% include 'recent-product-sidebar' %}

<!-- Product tags -->
<div class="widget widget_product_tag_cloud style2">
    <h2 class="widget-title">POPULAR TAGS</h2>
    <div class="tagcloud">
        {% for tag  in  collection.tags limit: 10 %}
                {{ tag | link_to_tag: tag }}
        {% endfor %}
    </div>
</div>
<!-- ./Product tags -->