<!-- Product category -->
<div class="widget widget_product_categories">
    <h2 class="widget-title">{{ 'blogs.sidebar.categories' | t }}</h2>
    <ul class="product-categories">
    	{% paginate collections by 12 %}
    		{% for line_collection in collections  %}
    			<li class="{% if collection.handle == line_collection.handle %} current-cat {% endif %}"><a href="{{line_collection.url}}">{{line_collection.title}} <span class="count">({{line_collection.products_count}})</span></a></li>
    		{% endfor %}
        {% endpaginate %}
    </ul>
</div>

<!-- ./Product category -->
 <!-- By color -->
 <div class="widget widget_layered_nav">
    <h2 class="widget-title">COLOUR</h2>
    <ul class="product-categories">
        <li><a href="#">White<span class="count">(20)</span></a></li>
        <li><a href="#">Black<span class="count">(20)</span></a></li>
        <li><a href="#">Blue<span class="count">(20)</span></a></li>
        <li><a href="#">Yellow<span class="count">(20)</span></a></li>
        <li><a href="#">Brown<span class="count">(20)</span></a></li>
        <li><a href="#">Red<span class="count">(20)</span></a></li>
        <li><a href="#">Teal<span class="count">(20)</span></a></li>
    </ul>
</div>
 <!-- ./By color -->
<!-- Filter price -->
    <div class="widget widget_price_filter">
        <h2 class="widget-title">PRICES</h2>
        <div class="price_slider_wrapper">
            <div class="amount-range-price">Price: $50 - $350</div>
            <div data-label-reasult="price:" data-min="0" data-max="500" data-unit="$" class="slider-range-price " data-value-min="50" data-value-max="350"></div>
            <button class="button">Filter</button>
        </div>
    </div>
<!-- ./Filter price -->

<!-- Product tags -->
<div class="widget widget_product_tag_cloud">
    <h2 class="widget-title">POPULAR TAGS</h2>
    <div class="tagcloud">
        {% for tag  in  collection.tags limit: 10 %}
                {{ tag | link_to_tag: tag }}
        {% endfor %}
    </div>
</div>
<!-- ./Product tags -->
