<div id="box-mobile-menu" class="box-mobile-menu full-height full-width">
	<div class="box-inner">
		<span class="close-menu"><span class="icon pe-7s-close"></span></span>
	</div>
</div>
<div id="header-ontop" class="is-sticky"></div>
<header id="header" class="header style2 style16 style17">
	<div class="container">
		<div class="topbar">
			<ul class="boutique-nav topbar-menu left">
              <li><a href="#"><i class="fa fa-phone"></i>Call Us: {{settings.footer_widget_phone_contact}}</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i>{{settings.footer_widget_email_contact}}</a></li>
            </ul>
			<div class="social-topbar">
				<label>Contacts us :</label>
              	{% if settings.social_facebook_link != blank %}<a href="{{ settings.social_facebook_link }}" ><i class="fa fa-facebook"></i></a>{% endif %}
              	{% if settings.social_twitter_link != blank %}<a href="{{ settings.social_twitter_link }}"><i class="fa fa-twitter"></i></a>{% endif %}
				{% if settings.social_google_plus_link != blank %}<a href="{{ settings.social_google_plus_link }}" ><i class="fa fa-google-plus"></i></a>{% endif %}
  				{% if settings.social_instagram_link != blank %}<a href="{{ settings.social_instagram_link }}"><i class="fa fa-instagram"></i></a>{% endif %}
				{% if settings.social_pinterest_link != blank %}<a href="{{ settings.social_pinterest_link }}"><i class="fa fa-pinterest"></i></a>{% endif %}
			</div>
		</div>
		<div class="main-header">
			<div class="logo">
              {% if settings.logo_use_image%}
                  <a href="/">{{'logo.png' | asset_url | img_tag}}</a>
              {% else %}
                  <a href="/"><img src="{{'logo.gif' | asset_url}}" alt=""></a>
              {%endif%}
            </div>
			<div class="main-menu-wapper">
				<div class="row">
					<div class="col-xs-2 col-sm-9 col-md-10 col-lg-11">
						{% include 'menu_import' %}
						<span class="mobile-navigation"><i class="fa fa-bars"></i></span>
					</div>
					<div class="col-xs-10 col-sm-3 col-md-2 col-lg-1">
						<div class="box-control">
							{% assign search_style = "icon" %}
                            	{% include 'search-bar' %}

                            {% assign position ="menu" %}
                            	{% include "mini-cart" %}
							{% include"settings-box" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Box text -->
<div class="section-block-text">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="block-text text-center margin-bottom-20">
					<h5 class="text">delivery <span class="txt-primary">free</span></h5>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="block-text text-center margin-bottom-20" style="background-color: #e05b70;">
					<h5 class="text">exchange or <span class="txt-primary">refund</span></h5>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="block-text text-center margin-bottom-20" style="background-color: #93d1d2;">
					<h5 class="text">ONLINE <span class="txt-primary">SUPPORT</span></h5>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Box text -->