
{% if settings.use_slider_hp16 %}
<!-- Home slide -->
<div class="slider-homepage">
  {% include 'shortcode-slider' %}
</div>
<!-- ./Home slide -->
{% endif %}

<!-- block text box -->
<div class="margin-top-30">
  <div class="container">
    <div class="row section-block-text">
      <div class="col-sm-6 item">
        <div class="block-text">
          <p>boutique is not over with fashion fever week! </p>
          <p class="primary">ends Dec 29th</p>
        </div>
      </div>
      <div class="col-sm-6 item">
        <div class="block-text" style="background-color: #9ec8b3;">
          <p>boutique exclusives up to 90% + extra 10% </p>
          <p class="primary">ends Dec 29th</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./block text box -->
<!-- Block list product-->
<div class="margin-top-20">
  <div class="container">
    <div class="section-title style6 text-center margin-bottom-40">
      <h3>FEATURED</h3>
      <span class="sub-title">There are many variations of passages</span>
    </div>
    <ul class="product-list product-list-grid owl-carousel-mobile" data-nav="false" data-dots="false" data-margin="0" data-loop="true" data-items="1">
      <li class="product-item status2 style5 mobile-slide-item col-sm-3">
        <div class="product-inner">
          <div class="product-thumb has-back-image">
            <div class="status">
              <span class="sale"><span class="text">Sale</span></span>
              <span class="new"><span class="text">New</span></span>
            </div>
            <a href="#"><img alt="" src="images/products/16-1.png"></a>
            <a class="back-image" href="#"><img src="images/products/16-2.png" alt=""></a>		
            <div class="gorup-button">
              <a href="#" class="button add_to_cart_button">ADD TO CART</a>
              <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
              <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
            </div>					
          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
            <span class="price">
              <ins>£85.00</ins>
              <del>£95.00</del>
            </span>
            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
          </div>
        </div>
      </li>
      <li class="product-item status2 style5 mobile-slide-item col-sm-3">
        <div class="product-inner">
          <div class="product-thumb has-back-image">
            <div class="status">
              <span class="sale"><span class="text">Sale</span></span>
              <span class="new"><span class="text">New</span></span>
            </div>
            <a href="#"><img alt="" src="images/products/16-2.png"></a>	
            <a class="back-image" href="#"><img src="images/products/16-3.png" alt=""></a>	
            <div class="gorup-button">
              <a href="#" class="button add_to_cart_button">ADD TO CART</a>
              <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
              <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
            </div>					
          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
            <span class="price">
              <ins>£85.00</ins>
              <del>£95.00</del>
            </span>
            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
          </div>
        </div>
      </li>
      <li class="product-item status2 style5 mobile-slide-item col-sm-3">
        <div class="product-inner">
          <div class="product-thumb has-back-image">
            <div class="status">
              <span class="sale"><span class="text">Sale</span></span>
              <span class="new"><span class="text">New</span></span>
            </div>
            <a href="#"><img alt="" src="images/products/16-3.png"></a>
            <a class="back-image" href="#"><img src="images/products/16-4.png" alt=""></a>		
            <div class="gorup-button">
              <a href="#" class="button add_to_cart_button">ADD TO CART</a>
              <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
              <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
            </div>				
          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
            <span class="price">
              <ins>£85.00</ins>
              <del>£95.00</del>
            </span>
            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
          </div>
        </div>
      </li>
      <li class="product-item status2 style5 mobile-slide-item col-sm-3">
        <div class="product-inner">
          <div class="product-thumb has-back-image">
            <div class="status">
              <span class="sale"><span class="text">Sale</span></span>
              <span class="new"><span class="text">New</span></span>
            </div>
            <a href="#"><img alt="" src="images/products/16-4.png"></a>
            <a class="back-image" href="#"><img src="images/products/16-1.png" alt=""></a>		
            <div class="gorup-button">
              <a href="#" class="button add_to_cart_button">ADD TO CART</a>
              <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
              <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
            </div>			
          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
            <span class="price">
              <ins>£85.00</ins>
              <del>£95.00</del>
            </span>
            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
          </div>
        </div>
      </li>
    </ul>
    <a class="loadmore-link" href="#">load more!</a>
  </div>
</div>
<!-- Block list product-->
<div class="block-paralax3">
  <div class="container">
    <div class="section-content text-center">
      <h2 class="title"><strong>LOOKBOOK</strong> 2015/2016</h2>
      <h3 class="sub-title text-primary">THE NEW COLLECTION</h3>
      <a class="button btn-primary small" href="#">view all</a>
    </div>
  </div>
</div>
<!-- group banner -->
<div class="margin-top-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a class="banner-opacity margin-bottom-30" href="#"><img src="images/b/35.jpg" alt=""></a>
        <a class="banner-opacity margin-bottom-30" href="#"><img src="images/b/36.jpg" alt=""></a>
      </div>
      <div class="col-sm-4">
        <a class="banner-opacity margin-bottom-30" href="#"><img src="images/b/37.jpg" alt=""></a>
      </div>
      <div class="col-sm-4">
        <a class="banner-opacity margin-bottom-30" href="#"><img src="images/b/38.jpg" alt=""></a>
        <a class="banner-opacity margin-bottom-30" href="#"><img src="images/b/39.jpg" alt=""></a>
      </div>
    </div>
  </div>
</div>
<!-- ./Group banner -->

{% if settings.use_blocknewletter_home16 %}
<!-- Block newletter -->
<div class="margin-top-30">
  <div class="container">
    <div class="block-newletter style2">
      <div class="head">
        <div class="section-title">
          <h3>{{settings.title_newletter_home16}}</h3>
          <span class="sub-title">{{settings.sub_title_newletter_home16}}</span>
        </div>
      </div>
      <div class="form">
        {% if settings.newsletter_form_action != blank %}
        {% assign form_action = settings.newsletter_form_action %}
        {% else %}
        {% assign form_action = '#' %}
        {% endif %}
        <form class="newletter" action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <input class="email-text" type="text" name="newsletter" placeholder="{{'general.newsletter_form.placeholder' | t}}" value="">
          <input type="submit" value="SIGNUP" class="button">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ./Block newletter -->
{% endif %}

{% if settings.use_our_blog_home16 %}
{% assign handle_name = settings.id_blog_home16 %}
<!-- Blog -->
<div class="margin-top-50">
  <div class="container">
    <div class="section-title style6 text-center margin-bottom-40">
      <h3>{{settings.title_blog_home16}}</h3>
      <span class="sub-title">{{settings.stitle_blog_home16}}</span>
    </div>
    <div class="lastest-blog style5 nav-center-center nav-style6 owl-carousel no-overflow"  data-nav="true" data-dots="false" data-loop="true" data-margin="30" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":3}}'>
      {% for article in blogs[handle_name].articles limit: 15 %}
      <div class="item-blog">
        <div class="thumb">
          <a href="{{ article.url }}">
          <img src="{{ article.image.src | img_url: 'medium' }}" srcset="{{ article.image.src | img_url: 'medium' }} 1x, {{ article.image.src | img_url: 'small' }} 2x" alt="{{ article.title }}">
          </a>
        </div>
        <div class="info">
          <div class="metas">
            <span class="date" style="display: inline-block;">
              <span class="day">{{ article.published_at | date: '%d' }}</span>
              <span class="month">{{ article.published_at | date: '%b' | upcase }}</span><br>
            </span>
            <span>{{ article.author }}</span>
          </div>
          <h3 class="blog-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
          <a class="readmore" href="{{ article.url }}">read more </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- ./Blog -->
{% endif %}

{% if settings.use_brand_home15 %}
  <div class="container">
    {% include 'shortcode' load: '[brand bottom="60"]'  %}
  </div>
{% endif %}