<div class="container">
  <div class="row left-slidebar">
    <div class="col-sm-8 col-md-9 main-content">
      {% if settings.use_slider_hp7 %}
      <!-- Home slide -->
      <div class="slider-homepage">
        {% include 'shortcode-slider' %}
      </div>
      <!-- ./Home slide -->
      {% endif %}
      
      {% if settings.featured_collection_home7 != blank %}
      <div class="block-featured-product margin-top-35">
        {% assign featured_collection_home7_handle = settings.featured_collection_home7 %}
        {% for collection in collections %}
          {% if featured_collection_home7_handle == collection.handle %}
          	{% assign featured_collection_home7_handle_title = collection.title %}
          	{% assign featured_collection_home7_handle_checked = collection.handle %}
          {% endif %}
        {% endfor %}
        <div class="section-title style3 margin-bottom-35">
          <h3>
            {% if settings.title_featured_collection_home7 == blank %}
            	{{featured_collection_home7_handle_title}}
            {% else %}
            	{{settings.title_featured_collection_home7}}
            {% endif %}
          </h3>
        </div>
        <ul class="tab-list owl-carousel nav-style5" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="30" data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":3}}'>
          {% for product in collections[featured_collection_home7_handle_checked].products %}
            {% assign grid_item_width = "" %}
            {% include 'product-grid-item' %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      
      {% if settings.image_banner_content_home7 %}
      <div class="margin-top-40">
        <a class="banner-opacity" href="{{settings.image_banner_link_content_home7}}"><img src="{{settings.image_banner_content_home7}}" alt=""></a>
      </div>
      {% endif %}
      
      {% if settings.new_arrivals_home7 != blank %}
      <div class="block-featured-product margin-top-30">
        {% assign new_arrivals_home7_handle = settings.new_arrivals_home7 %}
        {% for collection in collections %}
          {% if new_arrivals_home7_handle == collection.handle %}
          	{% assign new_arrivals_home7_handle_title = collection.title %}
          	{% assign new_arrivals_home7_handle_checked = collection.handle %}
          {% endif %}
        {% endfor %}
        <div class="section-title style3 ">
          <h3>
           {% if settings.title_new_arrivals_home7 == blank %}
            	{{new_arrivals_home7_handle_title}}
            {% else %}
            	{{settings.title_new_arrivals_home7}}
            {% endif %}
          </h3>
        </div>
        <ul class="tab-list owl-carousel nav-style5" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="30" data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":3}}'>
          {% for product in collections[new_arrivals_home7_handle_checked].products %}
            {% assign grid_item_width = "" %}
            {% include 'product-grid-item' %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      
      {% if settings.use_shipping_text_home7 %}
      <div class="text-border margin-top-40 margin-bottom-40">
        <p>{{settings.shipping_text_box}}</p>
      </div>
      {% endif %}
    </div>
    <div class="col-sm-4 col-md-3">
      {% if settings.use_categories_left_home7 %}
      <div class="block-category-carousel">
        <h3 class="title">{{settings.cat_title}}</h3>
        <span class="sub-title">{{settings.cat_sub_title}}</span>
        <div class="block-inner owl-carousel" data-nav="false" data-dots="true" data-items="1" data-loop="false" data-autoplay="true">
          {% assign check_row_catt = 1 %}
          {% for i in (1..12) %}
          {% assign catt_icon = 'catt_icon' | append: i | append: '.png' %}
          {% assign catt_collection = 'catt_collection' | append: i %}

          {% if check_row_catt == 1 %}
          <ul class="list-cat">
            {% endif %} 
            {% if settings[catt_collection] != blank %}
            <li>
              <a href="/collections/{{settings[catt_collection]}}">
                <img src="{{catt_icon | asset_url}}" alt="{{settings[catt_collection]}}">
                {{settings[catt_collection] | capitalize | replace: '-', ' ' }}
              </a>
            </li>
            {% endif %}
            {% if  check_row_catt  >=  4  or forloop.last %}
          </ul>
          {% assign check_row_catt = 0 %}
          {% endif %}
          {% assign check_row_catt = check_row_catt | plus : 1 %}
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if settings.use_newsletter_left_home7 %}
      {% include 'shortcode' load: '[sidebar-newsletter title="" text=""]'  %}
      {% endif %}

      {% if settings.image_banner_left_home7 %}
      <div class="margin-top-30">
        <a class="banner-opacity" href="{{settings.image_banner_link_left_home7}}"><img src="{{settings.image_banner_left_home7}}" alt=""></a>
      </div>
      {% endif %}

      {% if settings.use_our_blog_home7 %}
      <span class="line margin-top-30"></span>
      <div class="margin-top-30">
        <div class="section-title margin-bottom-30">
          <h3>{{settings.title_blog_home7}}</h3>
          <span class="sub-title">{{settings.sub_title_blog_home7}}</span>
        </div>
        <div class="lastest-blog style2 owl-carousel nav-style5" data-items="1" data-nav="true" data-dots="false" data-loop="true" data-margin="30">
		  {% assign handle_name = settings.id_blog_home7%}
          {% if handle_name == blank %}
          	{% assign handle_name = 'news' %}
          {% endif %}
          {% for article in blogs[handle_name].articles limit: 15 %}
          <div class="item-blog">
            <div class="right">
                {% if article.image %}
                <a href="{{ article.url }}" class="banner-opacity"> 
                  <img src="{{ article.image.src | img_url: 'medium' }}" srcset="{{ article.image.src | img_url: 'medium' }} 1x, {{ article.image.src | img_url: 'small' }} 2x" alt="{{ article.title }}">
                </a>
                {% endif %}
              <div class="blog-date">
                <span class="day">{{ article.published_at | date: '%d' }}</span>
                <span class="group">
                  <span class="month">/{{ article.published_at | date: '%b' | upcase }}</span>
                  <span class="year">{{ article.published_at | date: '%Y' }}</span>
                </span>
              </div>
              <div class="left">
                <h3 class="blog-title"><a href="{{ article.url }}">{{ article.title| truncate: 20 }}</a></h3>
                <div class="meta">
                  <span class="author">{{ article.author }}</span>
                      {% assign title_counts = 'comment' %}
                      {% if article.comments_count > 1 %}
                        {% assign title_counts = 'comments' %}
                      {% endif %}
                  <span class="comment"><i class="fa fa-comment"></i> {{article.comments_count}} {{ title_counts }}</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <hr>
  {% if settings.use_brand_home7 %}
  	{% include 'shortcode' load: '[brand bottom="40"]'  %}
  {% endif %}
</div>