{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
<li class="product-item view-grid style2 {{grid_item_width}}">
  <div class="product-inner">
    <div class="product-thumb has-back-image">
      <a href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
      {% if settings.use_second_img %}
        {% if product.images.size > 1 %}
          <a class="back-image" href="{{ product.url | within: collection }}">{{product.images[1].src |img_url: 'large'| img_tag: product.title }}</a>
        {% endif %}
      {% endif %}
      <div class="gorup-button">
        {% if settings.use_wishlist %}
          {% assign button = "" %}
          {% include 'wishlist-product' %}
        {% endif %}
        
        {% if settings.use_compare %}
          <a class="compare" data-pid="{{product.handle}}">
            <i class="fa fa-exchange"></i>
          </a>
        {% endif %}
        {% if settings.use_quickview %}
          <a class="quick-view"><i class="fa fa-search"></i></a>
        {% endif %}
      </div>
      
        {% if settings.use_sale_label %}
          {% if on_sale %}
            <span class="discount">{{'products.product.sale' | t}} </span>
          {% endif %}
        {% endif %}
    </div>
    <div class="product-info">
      <h3 class="product-name"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
      <span class="price">
        {% if on_sale %}
        <ins>{{product.price | money }}</ins>
        <del>{{product.compare_at_price | money }}</del>
        {% else %}
        <ins>{{product.price | money }}</ins>
        {% endif %}
      </span>
      {% if sold_out == false %}
        {% if product.variants.size > 1 %}
          <a class="button select-option" onclick="location.href='{{ product.url | within: collection }}'">{{'products.product.select_option' | t | upcase }}</a>
        {% else %}
          {% if product.variants.first.available %}
            <a class="button add_to_cart_button" data-pid="{{ product.variants.first.id }}">{{'products.product.add_to_cart' | t | upcase }}</a>
          {% endif %}
        {% endif %}
      {% else %}
    <a class="button" onclick="location.href='{{ product.url | within: collection }}'">{{'products.product.sold_out' | t | upcase }}</a>
      {% endif %}
    </div>
  </div>
</li>