<div class="product-details-full">                            
  <div class="container">
    <div class="row" id="product-single">
      <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
        <div class="product-detail-image">
          <div class="thumbnails" id="ProductThumbs">
            {% if product.images.size > 1 %}
            {% assign check = 1 %}
              {% for image in product.images limit : 3 %}
                <a data-url="{{ image.src | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail{% if check == 1 %} active{% endif %}">
                  <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                </a>
              {% assign check = check | plus : 1 %}
              {% endfor %}
            {% endif %}
          </div>
          <div class="main-image-wapper" id="ProductPhoto">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img class="main-image" src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
          </div>
          {% if settings.product_image_zoom_type == 'lightbox' %}
          <ul class="gallery" class="hidden">
            {% for image in product.images %}
            <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024' }}"></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
        <div class="product-details-right">
          {% include 'breadcrumb-product' %}
          <h3 class="product-name">{{ product.title | upcase }}</h3>
          <div class="rating">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
          <span class="price">
            {% if on_sale %}
            <ins>{{product.price | money }}</ins>
            <del>{{product.compare_at_price | money }}</del>
            {% else %}
            <ins>{{product.price | money }}</ins>
            {% endif %}
          </span>

          <div class="short-descript">
            {% if product.metafields.meta.description %}
            {{ product.metafields.meta.description }}
            {% endif %}
          </div>  
          <form class="cart"  action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
            <div class="quantity">
              <span>{{ 'products.product.quantity' | t }}</span>
              <input style="border: 1px solid #e5e5e5; width: 55px; font-size: 14px; min-width: auto;" type="number" id="Quantity" name="quantity" value="1" min="1" class="input-text qty text quantity-selector">
            </div>
            {% if settings.use_wishlist %}
          {% assign button = "button" %}
          {% include 'wishlist-product' %}
          {% endif %}
            <a id="AddToCart" class="button button-add-cart" data-quantity="1">{{ 'products.product.add_to_cart' | t }}</a>
          </form> 
          
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container">                        
    <div class="tab-details-product padding-40-60">
      <ul class="box-tabs nav-tab">
        <li class="active"><a data-toggle="tab" href="#tab-1">DESCRIPTION</a></li>
        <li><a data-toggle="tab" href="#tab-2">ADDITIONAL INFORMATION</a></li>
      </ul>
      <div class="tab-container">
        <div id="tab-1" class="tab-panel active">
          {{ product.description }}
        </div>
        <div id="tab-2" class="tab-panel">
          {% if product.metafields.meta.addition %}
          {{ product.metafields.meta.addition }}
          {% endif %}
        </div>     
      </div>  
    </div>
  <div class="upsell-products">{% include 'upsell-products' %}</div> 
</div> <!--END CONTAINER-->  
<div class="box-list-reviews">
  <div class="container">  
    <div class="row">
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    </div>
  </div>
</div>