{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
	{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available	%}
	{% assign sold_out = false %}
{% endif %}

<div class="grid-item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
	<div class="product-wrapper">
		{% if sold_out %}
		<span class="grid-item-label soldout">Sold Out</span>
		{% endif %}
		{% if on_sale %}
			<span class="grid-item-label sale">On Sale</span>
		{% endif %}
		<a href="{{ product.url | within: collection }}" class="product-list-image product-grid-images">
			<img class="featured-image" src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
			{% assign index = 1 %}
			{% for image in product.images limit:2 %}
			{% if index == 2 %}
			<img class="first-image" src="{{ image.src | product_img_url: 'large' }}">
			{% endif %}
			{% assign index = index | plus: 1 %}
			{% endfor %}
		</a>
		<div class="product-grid-info">
			<a class="product-title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
			<p class="product-price">
				{{ product.price | money }}
				{% if on_sale %}
					<span class="price-compare">{{ product.compare_at_price | money }}</span>
				{% endif %}
			</p>
			<div class="product-desc">{{ product.description | strip_html | truncatewords: 50 }}</div>
			<div class="product-link text-left">
				<a href="{{ product.url | within: collection }}"><i class="fa fa-shopping-cart"></i>{% if product.price_varies %}Select Options{% else %}View Details{% endif %}</a>
				<a href="#" class="quick-view" rel="{{ product.handle }}" title="Quick view"><i class="fa fa-eye"></i></a>
				{% assign idx = 1 %}
				{% for image in product.images %}
				{% if idx == 1 %}
					<a href="{{ image.src | product_img_url: '1024x1024' }}" rel="{{ product.handle }}" class="fancybox zoom-icon" title="View all images"><i class="fa fa-image"></i></a>
				{% else %}
					<a rel="{{ product.handle }}" class="fancybox" href="{{ image.src | product_img_url: '1024x1024' }}"></a>
				{% endif %}
				{% assign idx = idx | plus: 1 %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>