<div class="container">
  {% if settings.enable_banner_content_collection %}
  <div class="shop-banner">
    {{ 'slider-cat2.jpg' | asset_url | img_tag }}
  </div>
  {% endif %}
  <div class="breadcrumbs style2">
      {% include "breadcrumb" %}
  </div>
  <div class="row left-slidebar">
    <div class="main-content {% if settings.product_sidebar_enable %}col-sm-9 col-md-9 col-xs-12{% else %}col-lg-12 col-xs-12{% endif %}">
    {% if product.available %}
      {% assign sold_out = false %}
      {% assign sold_out_text = 'products.product.in_stock' | t %}
      {% endif %}

        <div class="row" id="product-single">
          <div class="col-sm-5 col-xs-12">
            <div class="product-detail-image style2">
                  <div class="main-image-wapper" id="ProductPhoto">
                    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                    <img class="main-image" src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
                  </div>
                  <div class="thumbnails owl-carousel nav-center-center nav-style3" data-responsive='{"0":{"items":3},"481":{"items":4},"600":{"items":3},"1000":{"items":4}}' data-autoplay="true" data-loop="true" data-items="4" data-dots="false" data-nav="true" data-margin="20">
                  {% if product.images.size > 1 %}
                  {% assign check = 1 %}
                    {% for image in product.images %}
                      <a data-url="{{ image.src | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail{% if check == 1 %} active{% endif %}">
                        <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                      </a>
                      {% assign check = check | plus : 1 %}
                    {% endfor %}
                  {% endif %}
                  </div>
                {% if settings.product_image_zoom_type == 'lightbox' %}
                <ul class="gallery hidden">
                  {% for image in product.images %}
                  <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024' }}"></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
          </div>
          <div class="col-sm-7 col-xs-12">
              <div class="product-details-right style2">
                  <h3 class="product-name">{{ product.title }}</h3>
                  <div class="rating">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  </div>
                  <span class="price">
                    {% if on_sale %}
                    <ins id="ProductPrice">{{product.price | money }}</ins>
                    <del id="ComparePrice">{{product.compare_at_price | money }}</del>
                    {% else %}
                    <ins id="ProductPrice">{{product.price | money }}</ins>
                    {% endif %}
                  </span>
                {% comment %}
                  <div class="meta">
                      <span>Only 15 left  3</span>
                      <span>Availalbe: <span class="text-primary">{{sold_out_text}}</span></span>
                  </div>
                {% endcomment %}
                  <div class="short-descript">
                    {% if product.metafields.meta.description %}
                   		{{ product.metafields.meta.description }}
                    {%else%}
                    	{{ product.description }}
                    {% endif %}
                  </div>
                
                  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                    <select name="id" id="productSelect" class="product-single__variants">
                      {% for variant in product.variants %}
                      {% if variant.available %}

                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                      {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <div class="cart-form">
                      <div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
                          <div class="clearfixx">
                          <a class="down">-</a>
                          <input type="text" id="Quantity" class="input-text qty text quantity-selector" title="Qty" value="01" min="1" max="100" name="quantity">
                          <a class="up">+</a>
                        </div>
                      </div>

                      <a id="AddToCart" class="button button-add-cart boutique__add-to-cart" data-pid="{{ product.variants.first.id }}" data-quantity="1">Add to cart</a>
                                            
                      {% if settings.use_wishlist %}
                      {% assign button = "button" %}
            		  {% include 'wishlist-product' %}
                      {% endif %}

                      {% if settings.use_compare %}
                      <a class="button compare" data-pid="{{product.handle}}">
                        <i class="fa fa-exchange"></i>
                      </a>
                      {% endif %}
                    </div>
                  </form>
              </div>
          </div>
        </div>
      
      {% if product.metafields.meta.addition %}
        <div class="tab-details-product style2">
          <ul class="box-tabs nav-tab">
            {% if product.description !="" %}
              <li class="active"><a data-toggle="tab" href="#tab-1">DESCRIPTION</a></li>
            {% endif %}
            {% if product.metafields.meta.addition %}
              <li><a data-toggle="tab" href="#tab-2">ADDITIONAL INFORMATION</a></li>
            {% endif %}
          </ul>
          <div class="tab-container">
            {% if product.description !="" %}
            	<div id="tab-1" class="tab-panel active">{{ product.description }}</div>
            {% endif %}
            {% if product.metafields.meta.addition %}
            	<div id="tab-2" class="tab-panel">{{ product.metafields.meta.addition }}</div>     
            {% endif %}
          </div>  
        </div> 
      {% endif %}
        <div class="product-slide upsell-products">
        {% if settings.product_related_enable %}
          {% assign data_responsive = '{"0":{"items":1},"600":{"items":2},"1000":{"items":3}}' %}
          {% include 'upsell-products' %}
        {% endif %}   
        </div>
    </div>
    {% if settings.product_sidebar_enable %}
    <div class="col-sm-3 col-md-3 col-xs-12 sidebar"> 
        <!-- Product category -->
        <div class="widget widget_product_categories">
            <h2 class="widget-title">Categories</h2>
            <ul class="product-categories">
              {% for line_collection in collections  %}
                {% unless line_collection.handle == 'wishlist' %}
                    <li class="{% if collection.handle == line_collection.handle %}current-cat{% endif %}">
                      <a href="{{line_collection.url}}" >{{line_collection.title  | capitalize }}</a><span class="count-item">({{line_collection.products_count}})</span>
                    </li>
                {% endunless %}
              {% endfor %}
            </ul>
        </div>
        <!-- ./Product category -->
      
         {% include 'recent-product-sidebar' %}
        <!-- Product tags -->
        <div class="widget widget_product_tag_cloud style2">
            <h2 class="widget-title">TAGS</h2>
            <div class="tagcloud">
              {% for tag in collection.all_tags %}
              {% if current_tags contains tag %}
              {{ tag | link_to_remove_tag: tag }}
              {% else %}
              {{ tag | link_to_tag: tag }}
              {% endif %}
              {% endfor %}
            </div>
        </div>
        <!-- ./Product tags -->
  </div>
    {% endif %}
  </div>
</div>
<!-- ./tab -->
{% assign margin_shipping_icon = "margin-top-60 margin-bottom-30" %}
  {% include 'shortcode-shipping-icon' %}


{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
        add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
        sold_out : "{{ 'products.product.sold_out' | t }}",
        unavailable : "{{ 'products.product.unavailable' | t }}"
      }
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>


<script type="text/javascript"> 
  jQuery(document).ready(function($){
    $('#Quantity').keyup(function(){                              
      var textinput = $(this).val();                      
      $(this).attr('value',textinput);
    });
    $(".up").click(function(){
      var quan = parseInt($("#Quantity").val());
      quan = quan+1; 
      var zero;
      if(quan<10){
        zero = "0"+quan;
      }
      else{
        zero=quan;
      }
      $('.down').css('pointer-events', 'auto'); 
      $("#Quantity").val(zero).attr('value',zero);    
    }); 
    $(".down").click(function(){    
      var quan = parseInt($("#Quantity").val());                        
      quan = quan-1;
      var zero;
      if(quan<10){
        zero = "0"+quan;
      }
      else{
        zero=quan;
      }
      $("#Quantity").val(zero).attr('value',zero);
      if(quan == 1){
        $('.down').css('pointer-events', 'none');
      }
      if(quan == 100){
        $('.down').css('pointer-events', 'none');
      }
    });
    var text1 = 0;
    var text2 = 0;
    $( ".short-descript" ).each(function( index ) {
      var text11 = $( this ).text().length;
      if( text11 > 0 ){
        text1 = text11;
      }
    });
    $( "#tab-2" ).each(function( index ) {
      var text22 = $( this ).text().length;
      if( text22 > 0 ){
        text2 = text22;
      }
    });
    if((text1 > 0) && (text2 == 0)){
      $(".tab-details-product").remove();
      $(".upsell-products").css('margin-top','50px');
    }else{
      $(".tab-details-product").css('display','block');
    };
  });
</script>


