<div class="margin-top-60 margin-bottom-30">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="element-icon style2">
        <div class="icon">
          {% if settings.use_img_1 %}
          	{{'shipping_info_1_img' | asset_url | img_tag}}
          {% else %}
          	<i class="flaticon flaticon-origami28"></i>
          {% endif %}
        </div>
        <div class="content">
          <h4 class="title">{{settings.shipping_info_1_content | strip_html}}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="element-icon style2">
        <div class="icon">
          {% if settings.use_img_2 %}
          	{{'shipping_info_2_img' | asset_url | img_tag}}
          {% else %}
          	<i class="flaticon flaticon-curvearrows9"></i>
          {% endif %}
        </div>
        <div class="content">
          <h4 class="title">{{settings.shipping_info_1_content | strip_html}}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="element-icon style2">
        <div class="icon">
          {% if settings.use_img_3 %}
          	{{'shipping_info_3_img' | asset_url | img_tag}}
          {% else %}
          	<i class="flaticon flaticon-headphones54"></i>
          {% endif %}
        </div>
        <div class="content">
          <h4 class="title">{{settings.shipping_info_1_content | strip_html}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>