<!-- /templates/customers/account.liquid -->
{% comment %}

For all available customer liquid tags:
- http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}
<div class="customer-logged-in">
  <div class=" main-container no-sidebar">
    <div class="container">
      <div class="row">
        <div class="main-content col-sm-12">
          <div class="page-title">
            <h3>{{'customer.account.title' | t}}</h3>
          </div>
          <div class="top-account" style="">

            {% if shop.customer_accounts_enabled %}
            {% if customer  %}
            <div class="acc-form">
              <p class="myaccount_user">
                Hello <strong>{{ customer.name }}</strong> (not {{ customer.name }}? <a href="/account/logout">Sign out</a>). From your account dashboard you can view your recent orders and add new address</a>.</p>

            </div>
            {% else %}
            {% form 'customer_login' %}
            <div class="acc-form">
              <h3 class="widget-title">{{ 'customer.login.title' | t }}</h3>
              {{ form.errors | default_errors }}
              <p class="login-username">
                <label>{{ 'customer.login.email' | t }}</label>
                <input type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} error{% endif %}" autofocus>
              </p>
              {% if form.password_needed %}
              <p class="login-password">
                <label>{{ 'customer.login.password' | t }}</label>
                <input type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} error{% endif %}">
              </p>
              {% endif %}
              <p class="login-submit">
                <input type="submit" value="{{ 'customer.login.sign_in' | t }}" class="button-primary">
              </p>
              {% if form.password_needed %}
              <div class="acc-link">
                <a href="#" class="lost-pwlink">{{ 'customer.login.forgot_password' | t }}</a> <a href="/account/register">{{ 'customer.login.titles' | t }}</a>
              </div>
              {% endif %}

            </div>
            {% endform %}
            {% endif %}
            {% endif %}
          </div>

          <div class="address-box">
          <h2>My Addresses</h2>
          <p class="myaccount_address">
            The following addresses will be used on the checkout page by default.</p>
          <div class="address-col2">
            <div class="col-1 address">
              <h3>{{ 'customer.orders.title' | t }}</h3>

              {% comment %}
              If we have past orders, loop through each one
              {% endcomment %}
              {% paginate customer.orders by 20 %}
              {% if customer.orders.size != 0 %}

              <div class="table-wrap">
                <table class="full">
                  <thead>
                    <tr>
                      <th>{{ 'customer.orders.order_number' | t }}</th>
                      <th>{{ 'customer.orders.date' | t }}</th>
                      <th>{{ 'customer.orders.payment_status' | t }}</th>
                      <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th>{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in customer.orders %}
                    <tr>
                      <td>{{ order.name | link_to: order.customer_url }}</td>
                      <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                      <td>{{ order.financial_status_label }}</td>
                      <td>{{ order.fulfillment_status_label }}</td>
                      <td>{{ order.total_price | money }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              {% else %}

              <p>{{ 'customer.orders.none' | t }}</p>

              {% endif %}
              {% if paginate.pages > 1 %}
              <hr>
              <div class="pagination">
                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
              </div>
              {% endif %}
              {% endpaginate %}
            </div>

            <div class="col-2 address">
              <h3>{{ 'customer.account.details' | t }}</h3>

              <a class="view-address" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>

              <h5>{{ customer.name }}</h5>

              {% if customer.default_address != nil %}

              <p>
                {{ customer.default_address.address1 }}<br>

                {% if customer.default_address.address2 != "" %}
                {{ customer.default_address.address2 }}<br>
                {% endif %}

                {% if customer.default_address.city != "" %}
                {{ customer.default_address.city }}<br>
                {% endif %}

                {% if customer.default_address.province_code != "" %}
                {{ customer.default_address.province_code | upcase }}<br>
                {% endif %}

                {% if customer.default_address.zip != "" %}
                {{ customer.default_address.zip | upcase }}<br>
                {% endif %}

                {% if customer.default_address.country != "" %}
                {{ customer.default_address.country }}<br>
                {% endif %}

                {% if customer.default_address.phone != "" %}
                {{ customer.default_address.phone }}
                {% endif %}
              </p>

              {% endif %}


            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
