<!-- /templates/article.liquid -->
{% comment %}

Comments will not appear right after they are submitted, either to be checked for spam
or to await moderation. When a comment is submitted, the browser is redirected to a page
that includes the new comment id in its URL.
Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372

More information:
- http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %} 

{% assign number_of_comments = article.comments_count %}

{% comment %}
If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
{% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
<div class="main-container page-blog-items blog-news-pages">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% include 'breadcrumb' %}
      </div>
      <header class="header-pages">
        <h1 class="title-pages">
          {{ 'blogs.article.title_items_blog' | t }}
        </h1>
      </header>
      <div class="col-xs-12 col-md-12">
        <div class="page-content blog-page">
        <div class="blog-media">
          <div class="post">
            <article  itemscope itemtype="http://schema.org/Article">

            {% comment %}<header class="section-header">
            <div class="section-header-left">
              <h1>{{ article.title }}</h1>
              {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
              {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
              <p>{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</p>
            </div>
            </header>{% endcomment %}
            
            {% comment %}<div class="post-thumbnail">

            
            <div class="entry-header1">
              <div class="entry-image">
                {% if article.image %}
                <div class="blog-img"> <img src="{{ article.image.src | img_url: '1024x1024' }}" alt="{{ article.title }}">
                  {% comment %} <div class="mask"> <a class="info" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a> </div>{% endcomment %}
                </div>
                {% endif %}
              </div> 
            </div>
              
            </div>{% endcomment %}
            {% assign excerpt_start =  article.excerpt | split: '[end]' %}
            {% assign end_excerpt =  excerpt_start[0]  | split: '[start]'  %}
            <div class="post-thumbnail">
              <div class="entry-header">
                {% include  'shortcode' load: end_excerpt[1] %}  
              </div>
            </div>
            <div class="postinfo-wrapper">
              <div class="post-date">
                  <span class="day">{{ article.published_at | date: '%d' }}</span>

                  <span class="month">{{ article.published_at | date: '%b' }}</span>                
              </div>
              <div class="post-info">
                <header>
                  <h1 class="blog-title">{{ article.title }}</h1>
                </header>
                <footer class="entry-meta-small">
                  <span class="author vcard">
                    <a class="url fn n" href="#" title="View all posts by {{author}}" rel="author">Post by {{author}}</a>/</span>

                    <ul class="inline-list">
                      {% include 'tags-article' %}
                    </ul>
                    {% comment %}
                  <i class="fa fa-clock-o"></i>
                  <time class="entry-date" datetime="{{ article.published_at | date: '%Y-%m-%d' }}" >{{date}}</time>
                  <i class="fa fa-folder-o"></i><a href="{{blog.url}}" rel="category tag">{{blog.title}}</a>
                  {% endcomment %}
              </footer>
                <div class="entry-content">
                  {% include  'shortcode' load: article.content %}
                </div>
                <div class=" entry-meta">
                {% if blog.comments_enabled? %}
                    <a href="{{article.comment_post_url}}s" class="comment-blog-items">{{article.comments_count}} comments</a>   
                    {% endif %} 
                    <span>/&nbsp;{{ 'blogs.article.tags' | t }}:&nbsp;</span>
                      <ul class="inline-list">
                        {% include 'tags-article' %}
                      </ul>

                </div>
                <div class="socialsharing">
                  <h3 class="widget-title">Share this product</h3>
                  {% include 'social-links' %}
                </div>
              <div class="author-info">
                  <div class="author-avatar">
                     {{'admin_avatar_1449223716-68x68.png'|  asset_url | img_tag }}
                  </div>
                  <div class="author-description">
                    <h2>About the Author</h2>
                    <p>Suspendisse turpis ipsum, tempus in nulla eu, posuere pharetra nibh. In dignissim vitae lorem non mollis.</p>
                  </div>
                </div>

              </div>
            </div>
            {% comment %}<div class="rte" itemprop="articleBody">

            {% include  'shortcode' load: article.content %}  
            </div>{% endcomment %}

            {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
            {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}" >{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}

            {% comment %}
            Show off meta information like comments and tags.
            {% endcomment %}
            {% comment %}<ul class="inline-list">
            {% include 'tags-article' %}
            </ul>
            {% endcomment %}

            {% comment %}
            Create links to the next and previous articles, if available.
            {% endcomment %}

            {% comment %}

            {% if blog.next_article or blog.previous_article %}
            <hr>
            <p class="clearfix">
              {% if blog.previous_article %}
              <span class="left">
                &larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
              </span>
              {% endif %}
              {% if blog.next_article %}
              <span class="right">
                {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
              </span>
              {% endif %}
            </p>
            {% endif %}

            {% endcomment %}
          </article>
          </div>
        </div>

            {% comment %}
            Just like blog.liquid page, define how many comments should be on each page.
            {% endcomment %}
            
            {% paginate article.comments by 5 %}
            {% comment %}
            #comments is required, it is used as an anchor link by Shopify.
            {% endcomment %}

            <div class="comments-items-blog">

             
            {% if blog.comments_enabled? %}
            <h3 class="comments-title">{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h3>
             {% endif %}

              {% if comment and comment.created_at %}
              <p class="note form-success">
                {% if blog.moderated? %}
                {{ 'blogs.comments.success_moderated' | t }}
                {% else %}
                {{ 'blogs.comments.success' | t }}
                {% endif %}
              </p>
              {% endif %}

              {% if number_of_comments > 0 %}
              <ul class="no-bullets">
                {% comment %}
                If a comment was just submitted with no blank field, show it.
                {% endcomment %}
                {% if comment and comment.created_at %}
                <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                  {% include 'comment' %}
                </li>
                {% endif %}

                {% comment %}
                Showing the rest of the comments.
                {% endcomment %}
                {% for comment in article.comments %}
                <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                  {% include 'comment' %}
                </li>

                {% unless forloop.last %}

                {% endunless %}
                {% endfor %}
              </ul>

              {% if paginate.pages > 1 %}
              <hr>
              <div class="pagination">
                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
              </div>
              {% endif %}



              {% endif %}

              <div class="form-vertical">
                {% form 'new_comment', article %}
                <h3>{{ 'blogs.comments.title' | t }}</h3>

                {{ form.errors | default_errors }}

                <div class="comment-blog">
                  <p class="comment-notes"><span id="email-notes">Your email address will not be published. Required fields are marked *</span> </p>
                  <p class="comment-form comment-form-author">
                    <label for="CommentAuthor" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
                    <span class="required">*</span>
                    <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}" autocapitalize="words">
                  </p>
                  <p class="comment-form comment-form-email">
                    <label for="CommentEmail" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
                    <span class="required">*</span>
                    <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                  </p>
                  
                  <p class="comment-form comment-form-website">
                    <label for="CommentWebsite" class="hidden-label">{{ 'blogs.comments.website' | t }}</label>
                    <input type="text" name="comment[webite]" id="CommentWebsite" class="input-full{% if form.errors contains 'website' %} error{% endif %}" placeholder="{{ 'blogs.comments.website' | t }}" value="{{ form.website }}" autocapitalize="words">
                  </p>
                  
                  <p class="comment-form-comment">
                    <label for="CommentBody" class="hidden-label comment-post">{{ 'blogs.comments.message' | t }}</label><span class="required">*</span>
                    <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
                  </p>
                </div>

                {% if blog.moderated? %}
                <p>{{ 'blogs.comments.moderated' | t }}</p>
                {% endif %}
                <p class="form-submit">
                  <input type="submit" class="button btn-post-comment"  id="submit" value="{{ 'blogs.comments.post' | t }}">
                </p>
                {% endform %}
              </div>

            </div>
            {% endpaginate %}           
        </div>
      </div>
      
    </div>
  </div>
</div>
