<div class="main-container no-sidebar">
        <div class="container">
            <div class="main-content">
              {% if cart.item_count > 0 %}
                  <div class="page-title">
                      <h3>{{ 'cart.general.title' | t }}</h3>
                  </div>
                  <div class="row">
                      <div class="col-sm-12 col-md-8">
                      <form action="/cart" method="post" novalidate class="table-responsive cart">
                          <table class="shop_table cart">
                              <thead>
                                  <tr>
                                      <th colspan="2" class="product-name">{{ 'cart.label.product' | t }}</th>
                                      <th class="product-price">{{ 'cart.label.price' | t }}</th>
                                      <th class="product-quantity">{{ 'cart.label.quantity' | t }}</th>
                                      <th class="product-subtotal">{{ 'cart.label.total' | t }}</th>
                                      <th class="product-remove">&nbsp;</th>
                                  </tr>
                              </thead>
                              <tbody>
                              {% for item in cart.items %}
                                  <tr>
                                      <td class="product-thumbnail" data-label="{{ 'customer.order.product' | t }}">
<<<<<<< HEAD
                                      <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
=======
                                        <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
>>>>>>> origin/master
                                      </td>
                                      <td class="product-name"><a href="{{ item.url }}">{{ item.product.title }}</a></td>
                                      <td data-label="{{ 'cart.label.price' | t }}">{{ item.price | money }}</td>
                                      <td data-label="{{ 'cart.label.quantity' | t }}"><input class="qty" type="text" value="{{ item.quantity }}" min="0" name="updates[]"></td>
<<<<<<< HEAD
=======
                                      <td data-label="{{ 'cart.label.total' | t }}">{{ item.price | money }}</td>
>>>>>>> origin/master
                                      <td class="product-remove"><a href=""/cart/change?line={{ forloop.index }}&amp;quantity=0""><i class="fa fa-close"></i></a></td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </form>
                      </div>
                      <div class="col-sm-12 col-md-4">
                          <div class="box-cart-total">
                              <h2 class="title">{{ 'cart.general.boxtotal' | t }}</h2>
                              <table>
                                  <tr class="order-total">
                                      <td>{{ 'cart.general.total' | t }}</td>
                                      <td><span class="price">{{ cart.total_price | money }}</span></td>
                                  </tr>
                              </table>
                              <!-- <input type="submit" class="button" name="update" value="{{ 'cart.general.update' | t }}"> -->
                              <button class="button medium">{{ 'cart.general.update' | t }}</button>
                              <!-- <input type="submit" name="checkout" class="button" value=" {{ 'cart.general.proceed_to_checkout' | t}}"> -->
                              <button class="button btn-primary medium checkout-button"> {{ 'cart.general.proceed_to_checkout' | t}}</button>
                          </div>
                      </div>
                  </div>
                  {% else %}
              {% else %}
                  <h2>{{ 'cart.general.title' | t }}</h2>
                  <p>{{ 'cart.general.empty' | t }}</p>
                  <a href="/" class="button">{{ 'cart.general.continue_shopping' | t }}</a>
              {% endif %}
<<<<<<< HEAD
            </div>
        </div>
        <div class="margin-top-60">
           <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="element-icon style2">
                            <div class="icon"><i class="flaticon flaticon-origami28"></i></div>
                            <div class="content">
                                <h4 class="title">FREE SHIPPING WORLD WIDE</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="element-icon style2">
                            <div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
                            <div class="content">
                                <h4 class="title">MONEY BACK GUARANTEE</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="element-icon style2">
                            <div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
                            <div class="content">
                                <h4 class="title">ONLINE SUPPORT 24/7</h4>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
{% if cart.item_count > 0 %}

  <form action="/cart" method="post" novalidate class="cart">

    <div class="section-header">
      <h1 class="section-header__title">{{ 'cart.general.title' | t }}</h1>
    </div>

    {% if cart.announcements.size > 0 %}
      <ul class="note">
        {% for announcement in cart.announcements %}
          <li>{{ announcement }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if cart.errors.size > 0 %}
      <ul class="note errors">
        {% for error in cart.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="cart__row medium-down--hide cart__header-labels">
      <div class="grid--full">
        <div class="grid__item large--one-half push--large--one-half">
          <div class="grid--full">
            <div class="grid__item one-third medium-down--one-third">
              <span class="h4">{{ 'cart.label.price' | t }}</span>
            </div>
            <div class="grid__item one-third medium-down--one-third text-center">
              <span class="h4">{{ 'cart.label.quantity' | t }}</span>
            </div>
            <div class="grid__item one-third medium-down--one-third text-right">
              <span class="h4">{{ 'cart.label.total' | t }}</span>
=======
>>>>>>> origin/master
            </div>
        </div>
<<<<<<< HEAD
      </div>
    </div>

    {% comment %}
      Loop through products in the cart
    {% endcomment %}
    {% for item in cart.items %}
      <div class="cart__row">
        <div class="grid--full cart__row--table-large">

          <div class="grid__item large--one-half">
            <div class="grid">

              <div class="grid__item one-third">
                <a href="{{ item.url | within: collections.all }}" class="cart__image">

                  {% comment %}
                    More image size options at:
                      - http://docs.shopify.com/themes/filters/product-img-url
                  {% endcomment %}
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
              </div>

              <div class="grid__item two-thirds">
                <a href="{{ item.url }}" class="h5">
                  {{ item.product.title }}
                </a>
                {% unless item.variant.title contains 'Default' %}
                  <br>
                  <small>{{ item.variant.title }}</small>
                {% endunless %}

                {% comment %}
                  <p>{{ item.vendor }}</p>
                {% endcomment %}

                {% assign propertySize = item.properties | size %}
                {% if propertySize > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                      {{ p.first }}:

                      {% comment %}
                        Check if there was an uploaded file associated
                      {% endcomment %}
                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}

                      <br>
                    {% endunless %}
                  {% endfor %}
                {% endif %}

                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                  <small>{{ 'cart.general.remove' | t }}</small>
                </a>
              </div>

            </div>
          </div>

          <div class="grid__item large--one-half">
            <div class="grid--full cart__row--table-large">

              <div class="grid__item one-third">
                <span class="cart__mini-labels">{{ 'cart.label.price' | t }}</span>
                <span class="h5">{{ item.price | money }}</span>
              </div>

              <div class="grid__item one-third text-center">
                <span class="cart__mini-labels">{{ 'cart.label.quantity' | t }}</span>
                <input type="number" class="cart__quantity-selector" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
              </div>

              <div class="grid__item one-third text-right">
                <span class="cart__mini-labels">{{ 'cart.label.total' | t }}</span>
                <span class="h5">
                  {% if item.original_line_price != item.line_price %}
                    <small class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></small>
                  {% endif %}
                  {{ item.line_price | money }}
                </span>
                {% if item.original_line_price != item.line_price %}
                  {% for discount in item.discounts %}
                    <small class="cart-item__discount">
                      {{ discount.title }}
                    </small>
                  {% endfor %}
                {% endif %}
              </div>

            </div>
          </div>

        </div>
      </div>
    {% endfor %}

    {% if cart.discounts.size > 0 %}
    <div class="cart-additional-savings text-right cart__row">
      <span class="label cart-additional-savings__label">{{ 'cart.general.additional_savings' | t }}</span>
      <span class="h5 cart-additional-savings__price">{{ cart.discount.total_savings | money }}</span>
      {% for discount in cart.discounts %}
        <small class="cart-additional-savings__savings">{{ discount.title }}</small>
      {% endfor %}
    </div>
    {% endif %}

    <div class="cart__row">
      <div class="grid">
        {% comment %}
          Optional, add a textarea for special notes
            - Your theme settings can turn this on or off. Default is on.
            - Make sure you have name="note" for the message to be submitted properly
        {% endcomment %}
        {% if settings.cart_notes_enable %}
          {% assign noteSize = cart.note | size %}
          <div class="grid__item large--five-twelfths">
            <button type="button" class="text-link cart__note-add{% if noteSize > 0 %} is-hidden{% endif %}">
              {{ 'cart.label.add_note' | t }}
            </button>
            <div class="cart__note{% if noteSize > 0 %} is-active{% endif %}">
              <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            </div>
          </div>
        {% endif %}
        <div class="grid__item text-right{% if settings.cart_notes_enable %} large--seven-twelfths{% endif %}">
          <p>
            <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
            <span class="h5 cart__subtotal">{{ cart.total_price | money }}</span>
            {% if cart.total_discounts > 0 %}
              {% assign savings = cart.total_discounts | money %}
              <small class="cart-subtotal__savings">{{ 'cart.general.savings_html' | t: price: savings }}</small>
            {% endif %}
          </p>
          <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
          <input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}">
          <input type="submit" name="checkout" class="btn checkout" value="{{ 'cart.general.checkout' | t }}">

          {% if additional_checkout_buttons %}
            <div class="cart__additional_checkout">{{ content_for_additional_checkout_buttons }}</div>
          {% endif %}
=======
        <div class="margin-top-60">
           <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="element-icon style2">
                            <div class="icon"><i class="flaticon flaticon-origami28"></i></div>
                            <div class="content">
                                <h4 class="title">FREE SHIPPING WORLD WIDE</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="element-icon style2">
                            <div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
                            <div class="content">
                                <h4 class="title">MONEY BACK GUARANTEE</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="element-icon style2">
                            <div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
                            <div class="content">
                                <h4 class="title">ONLINE SUPPORT 24/7</h4>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
>>>>>>> origin/master
        </div>
    </div>
