<div class="main-container no-sidebar">
  <div class="container">
    <div class="main-content">
      {% if cart.item_count > 0 %}
          <div class="page-title">
              <h3>{{ 'cart.general.title' | t }}</h3>
          </div>
          <div class="row">
            <form action="/cart" method="post" novalidate class="table-responsive cart">
              <div class="col-sm-12 col-md-8">
                  <table class="shop_table cart">
                    <thead>
                        <tr>
                            <th colspan="2" class="product-name">{{ 'cart.label.product' | t }}</th>
                            <th class="product-price">{{ 'cart.label.price' | t }}</th>
                            <th class="product-quantity">{{ 'cart.label.quantity' | t }}</th>
                            <th class="product-subtotal">{{ 'cart.label.total' | t }}</th>
                            <th class="product-remove">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in cart.items %}
                          <tr>
                              <td class="product-thumbnail" data-label="{{ 'customer.order.product' | t }}">
                                <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
                              </td>

                              <td class="product-name">
                                <a href="{{ item.url }}"> {{ item.product.title }} </a>

                                  {% unless item.variant.title contains 'Default' %}
                                    <br>
                                    <small>{{ item.variant.title }}</small>
                                  {% endunless %}

                                  {% if settings.cart_vendor_enable %}
                                      <p>{{ item.vendor }}</p>
                                  {% endif %}
                                
                                  {% assign property_size = item.properties | size %}
                                    {% if property_size > 0 %}
                                        {% for p in item.properties %}
                                    {% unless p.last == blank %}
                                        {{ p.first }}:                              
                                  {% if p.last contains '/uploads/' %}
                                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                  {% else %}
                                    {{ p.last }}
                                  {% endif %}

                                  <br>
                                  {% endunless %}
                                  {% endfor %}
                                {% endif %}
                              </td>
                              <td data-label="{{ 'cart.label.price' | t }}">{{ item.price | money }}</td>

                              <td data-label="{{ 'cart.label.quantity' | t }}" class="text-center">
                                <input type="number" class="qty" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
                              </td>
                              
                              <td data-label="{{ 'cart.label.total' | t }}" class="text-center total-cart">{{ item.line_price | money }}</td>
                              <td class="product-remove"><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" ><i class="fa fa-close"></i></a></td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                    <div class="box-coupon">
                      <div class="coupon">
                        <p><label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label></p>
                        <textarea name="note" class="input-text" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                      </div>
                    </div>
                  
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="box-cart-total">
                      <h2 class="title">{{ 'cart.general.boxtotal' | t }}</h2>
                      <table>
                          <tr class="order-total">
                              <td>{{ 'cart.general.total' | t }}</td>
                              <td><span class="price">{{ cart.total_price | money }}</span></td>
                          </tr>
                      </table>
                      <input type="submit" name="update" class="button medium update-cart" value="{{ 'cart.general.update' | t }}">
                      <input type="submit" name="checkout" class="button btn-primary medium checkout-button" value="{{ 'cart.general.proceed_to_checkout' | t }}">
                  </div>
              </div>
            </form>
          </div>        
      {% else %}
      
      <h2>{{ 'cart.general.title' | t }}</h2>
      <p>{{ 'cart.general.empty' | t }}</p>
      <a href="/" class="button">{{ 'cart.general.continue_shopping' | t }}</a>
      {% endif %}
    </div>
  </div>
  {% include 'shortcode-shipping-icon' %}
</div>
