

{% if settings.enable_banner_content_collection %}
  <div class="banner">
    <div class="banner-content">
      {{ '1.jpg' | asset_url | img_tag }}
    </div>
  </div>
{% endif %}
<div class="main-container no-slidebar">
	<div class="container">
		<div class="row">
			<div class="main-content col-sm-12">
			{% paginate collection.products by 6 %}
				<div class="shop-top">
					<div class="shop-top-left">
						<div class="breadcrumbs">
		                    {% include "breadcrumb" %}
		                </div>
					</div>
					<div class="shop-top-right">
						<span class="woocommerce-result-count">Showing {{paginate.current_page}}&ndash;{{paginate.page_size }} of {{paginate.items}} results</span>
						<div class="orderby-wapper">
	                    	 {% include 'collection-sorting' %}
	                    </div>
	                    {% include 'collection-views' %}
					</div>
				</div>
				<ul class="product-list-grid desktop-columns-2 tablet-columns-2 mobile-columns-1 row" id="collection-product">
		          {% for product in collection.products %}
		            {% assign grid_item_width = 'col-sm-6' %}
		              {% include 'product-grid-item' %}
		              {% include 'product-list-item' %} 
		            {% endfor %}
		        </ul>
				{% if paginate.pages > 1 %}
                    <div class="navigation">
                    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                  </div>
                {% endif %}
             {% endpaginate %}
			</div>
		</div>
	</div>
</div>