<section id="wishlist-page">
  <div class="container">
    <div class="row">
      <header class="entry-header"><h1 class="entry-title">Wishlist</h1> </header>
      <div class="wishlist-content table-responsive">
        {% if customer %}
        <table class="shop_table cart wishlist_table table table-bordered">
          <thead>
            <tr>
              <th class="product-remove"></th>
              <th class="product-thumbnail"></th>
              <th class="product-name">
                <span class="nobr">Product Info</span>
              </th>
              <th class="product-price">Unit Price</th>
              <th class="product-add-to-cart"></th>
            </tr> 
          </thead>
          <tbody>
            {% paginate collection.products by collection.all_products_count %}
            {% capture tags %}{% for tag in customer.tags %}{{ tag }} {% endfor %}{% endcapture %}
            {% assign tags = tags | remove:'x' | split:' ' | uniq | join:' ' %}
            {% for product in collection.products %}
            
            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
            {% assign on_sale = true %}
            {% endif %}
            
            {% assign sold_out = true %}
            {% if product.available %}
            {% assign sold_out = false %}
            {% endif %}
            
            {% if tags contains product.id %}
            {% for tag in customer.tags %}{% if tag contains product.id %}{% assign t = tag %}{% endif %}{% endfor %}
            {% assign check = t.size | minus:product.id.size | modulo:2 %}
            {% assign  check_mod =  t.size | modulo :2   %}
            {% if check == 0 or check_mod == 0  %}
            <tr class="x{{ t }} text-center">
              <td class="product-remove">
                <div class="remove"> 
                  <button type="button" class="wishlist-remove" data-wid="x{{ t }}" title="Remove this product">×</button>
                </div>
              </td>
              <td class="product-thumbnail"> {{ product.featured_image | product_img_url:'small' | img_tag:product.title }}</td>
              <td class="product-name text-left">
                <h5>  <a href="{{ product.url }}"> {{ product.title }} </a> </h5>
                <p style="text-transform: initial;"> {{product.description | truncatewords : 80 }} ...<br>
                  <a class="view-more" href="{{ product.url }}">View more</a> 
                </p>
              </td>
              <td class="product-price">
                {% if on_sale %}
                {% if product.price_varies %}
                {% assign sale_price = product.price | money %}
                <span class="special-price">{{ sale_price }}</span>
                {% else %}

                {% comment %}
                <strong>{{ 'products.product.on_sale' | t }}</strong>
                {% endcomment %}

                <span class="old-price">{{ product.price | money }}</span>
                {% endif %}
                {% else %}
                {% if product.price_varies %}
                {% assign price = product.price | money %}
                <span class="old-price">{{ price }}</span>
                {% else %}
                <span class="special-price">{{ product.price | money }}</span>
                {% endif %}
                {% endif %}
                {% if sold_out %}
                <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                {% endif %}
                {% if on_sale %}
                <span class="hidden">{{ 'products.general.regular_price' | t }}</span>
                <span class="old-price">{{ product.compare_at_price | money }}</span>
                {% endif %}
              </td>
              <td class="product-add-to-cart">
                {% if sold_out == false %}

                  {% if product.variants.size > 1 %}
                    <button class="button" data-original-title="Select Option" onclick="location.href='{{ product.url | within: collection }}'">
                      {{ 'products.product.pd-options' | t }}
                    </button>
                  {% else %}
                    {% if product.variants.first.available %}
                      <button type="button" name="add" class="button wishlist-addtocart" data-original-title="Add to cart" data-wid="{{ product.variants[0].id }}">
                        {{ 'products.product.add_to_cart' | t }}
                      </button>
                    {% endif %}
                  {% endif %}

                {% else %}
                  <button class="button" data-original-title="Select Option" onclick="location.href='{{ product.url | within: collection }}'">
                    Sold Out
                  </button>

                {% endif %}
              </td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endpaginate %}
          </tbody>
        </table>
        {% else %}
        <h4>Please login to add product to wishlist </h4>
        {% endif %}
        {% form 'customer' %}	
        <input type='hidden' name='contact[email]' value='{{ customer.email }}'/>
        <input type='hidden' name='contact[tags]' class='remove-value' value='' />
        {% endform %}
        <form action='/cart/add' class='add-variant' method='post'>
          <input type='hidden' name='id' class='product-select' value='' />
        </form>
      </div>

    </div>
  </div>
</section>

