{% if template contains "about" %}
<div class="page-banner about-banner">
  <div class="banner-content">
    <span class="subtitle">{{settings.banner_about_title}}</span>
    <h2 class="title">{{settings.banner_about_desc}}</h2>
  </div>
</div>
{% endif %}
<div class="section-about ">
  <div class="container">
    <div class="section-title text-center style7 margin-top-60">
      <span class="sub-title">{{settings.about_section_title}}</span>
      <!--       <h3>THE BOUTIQUE</h3> -->
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <blockquote class="style2 margin-bottom-10">{{settings.about_desc_title_quote}}</blockquote>
      </div>
    </div>
    <div class="text-center GreatVibes">
      {{settings.author_quote}}
    </div>
  </div>
</div>
<!-- About -->
<div class="section-team margin-top-80">
  <div class="container">
    {%include 'shortcode' load:'[team id="team-about-us"]'%}
  </div>
</div>

<!-- section Skills -->
<div class="section-skills margin-top-80">
  <div class="container">
    {% assign sub_processbar = settings.processbar_subtitle %}
    {% assign processbar_title = settings.processbar_title %}
    <div class="section-title text-center style7">
      <span class="sub-title">{{ sub_processbar| strip_html }}</span>
      <h3>{{ processbar_title | strip_html }}</h3>
    </div>

    {% include 'shortcode' load:page.content %}
  </div>
</div>
<!-- ./section Skills -->
<!-- Section-testimonials-->
<div class="section-testimonials margin-top-40">
 {%include 'shortcode' load:'[testimonial]'%}
</div>
<!-- ./Section-testimonials-->
<div class="margin-top-60 margin-bottom-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="element-icon style2">
          <div class="icon"><i class="flaticon flaticon-origami28"></i></div>
          <div class="content">
            <h4 class="title">FREE SHIPPING WORLD WIDE</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="element-icon style2">
          <div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
          <div class="content">
            <h4 class="title">MONEY BACK GUARANTEE</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="element-icon style2">
          <div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
          <div class="content">
            <h4 class="title">ONLINE SUPPORT 24/7</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
